@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

body {
	width: 100%;
	height: 100%;
	color: #262626;
	background-color: #fafafa;
}

/* Loading */

.load_container {
	text-align: center;
	width: 500px;
	margin: 20vh auto 0px;
}

.load_title {
	margin-bottom: 100px;
	font-size: 4rem;
	font-family: 'Satisfy', cursive;
}

.load_container > .icon_insta {
	width: 140px;
	display: inline-block;
}

/* Navigation */
.nav_block {
	width: 100%;
	height: 54px;
	display: block;
}

.head_container {
	display: block;
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	height: 54px;
	border-bottom: 1px #dbdbdb solid;
	z-index: 2;
}

.nav_container {
	align-items: center;
	min-width: 997px;
	width: 60%;
	margin: 0 auto;
	height: 100%;
}

.head_logo {
	height: 100%;
	font-size: 1.8rem;
	float: left;
	margin: 10px 0px 0px 30px;
	font-family: 'Satisfy', cursive;
}

.nav_items {
	margin-right: 30px;
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav_item {
	margin-right: 10px;
}

.icon_home {
	font-size: 25px;
	color: #262626;
}

.nav_portrait {
	margin-top: 3px;
	border-radius: 50%;
}

/* Home Container */

.home_container {
	height: 1400px;
	max-width: 935px;
	display: flex;
	margin: 0px auto 30px;
	padding-top: 30px;
}

.side_container {
	width: 30%;
}

.main_container {
	width: 614px;
	margin-right: 30px;
}

.post {
	height: 820px;
	margin-bottom: 50px;
}

.form_rweets,
.profile_section {
	padding: 10px;
	width: 270px;
	float: right;
	position: fixed;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin-bottom: 30px;
	height: fit-content;
}

/* rweet */

.rweet_creator_container {
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.rweet_creator_img {
	border-radius: 50%;
	margin: 0px 15px 0px 15px;
}

.rweet_creator_name {
	font-size: 14px;
	font-weight: 600;
}

.rweet_img_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	height: 616px;
	width: 100%;
	border-radius: 3px;
}

.rweet_creator_menu {
	font-size: 14px;
	position: absolute;
	top: 23px;
	right: 20px;
	border: 0;
	outline: 0;
	background: 0;
	cursor: pointer;
}

.rweet_img {
	z-index: 1;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.rweet_text_container {
	height: 140px;
	width: 100%;
	display: flex;
}

.rweet_text {
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 85%;
	width: 100%;
}

/* RweetFactory */

.form_rweets {
	display: flex;
	flex-direction: column;
}

.preview_container {
	margin-top: 5px;
	align-self: center;
	width: 95%;
	height: 220px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.rweet_file_btn {
	position: absolute;
	color: #dbdbdb;
}
.real_preview {
	position: relative;
}

.preview_cancel {
	font-size: 17px;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	right: 0px;
	bottom: 5px;
	position: absolute;
	color: rgb(145, 140, 140);
}

.form_rweets_text {
	margin-top: 5px;
	width: 95%;
	height: 10%;
	padding: 10px;
	outline: 0;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	resize: none;
	resize: vertical;
	align-self: center;
}

#input-file,
#input-submit {
	display: none;
}

.form_rweet_controller {
	margin: 15px 0 15px 10px;
	width: 80px;
}

.rweet_submit_btn {
	color: #262626;
}

/* profile */

.profile_show {
	margin-bottom: 30px;
	text-align: center;
}

.profile_portrait {
	display: inline-block;
	margin: 20px 0 10px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile_name {
	font-size: 2rem;
	margin-bottom: 10px;
}

/* Auth */

.auth_container {
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: fit-content;
	width: 350px;
	margin: 120px auto 0;
}

.auth_title {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	font-family: 'Satisfy', cursive;
	margin: 30px 0 45px;
}

.auth_form {
	width: 100%;
	height: 130px;
}

.auth_input {
	background-color: #fafafa;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	width: 75%;
	height: 36px;
	display: block;
	margin: 5px auto;
}

.auth_btn {
	background-color: #b2dffc;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	width: 75%;
	height: 30px;
	display: block;
	margin: 10px auto;
	font-weight: 500;
	color: #fafafa;
	cursor: pointer;
}

.auth_mode_container {
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 63px;
	width: 350px;
	margin: 10px auto 0;
	display: flex;
	align-items: center;
}

.auth_mode {
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8e8e8e;
	cursor: pointer;
}

.auth_ortext {
	height: 15px;
	width: 295.8px;
	display: flex;
	align-items: center;
	margin: 5px auto;
}

.ortext_slice {
	width: 114px;
	height: 1px;
	border-bottom: 1px solid #dbdbdb;
}

.ortext {
	text-align: center;
	width: 32px;
	margin: 0px 17px;
	font-weight: 500;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8e8e8e;
}

.auth_socialLogin {
	width: 75%;
	height: 70px;
	margin: 30px auto;
}

.socialLogin_btn {
	width: 100%;
	height: 30px;
	display: block;
	margin: 10px auto;
	cursor: pointer;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8e8e8e;
	font-weight: 500;
}

.icon_google {
	margin-right: 10px;
	font-size: 15px;
}

.icon_github {
	margin-right: 10px;
	font-size: 15px;
}

.auth_error {
	text-align: center;
	color: red;
	font-size: 14px;
	margin: 20px 0;
	font-weight: 600;
}

/* Modal */

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_content {
	z-index: 4;
	width: 500px;
	height: fit-content;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

.modal_btn_controller {
	width: 100%;
	height: fit-content;
}

.modal_btn {
	font-weight: 500;
	width: 100%;
	height: 50px;
	border: 0;
	border-top: 1px solid#dbdbdb;
	outline: 0;
	background: 0;
	cursor: pointer;
}

.edit_form {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.edit_text {
	margin-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 95%;
	height: 80%;
	border: 1px solid #dbdbdb;
}

.edit_controller {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
	border-top: 0px;
	width: 95%;
	height: 15%;
	display: flex;
	justify-content: center;
}

.edit_btn1 {
	font-weight: 500;
	cursor: pointer;
	border: 0;
	outline: 0;
	width: 50%;
	border-right: 1px solid #dbdbdb;
	background: 0;
}
.edit_btn2 {
	font-weight: 500;
	cursor: pointer;
	border: 0;
	outline: 0;
	width: 50%;
	background: 0;
}
